.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: red;
    padding: .375rem .75rem;
}

.custom-btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
}

.imagePreview {
    width: 100%;
    height: 250px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
      background-size: cover;
    background-repeat:no-repeat;
      display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.imgUp
{
    margin-bottom:15px;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}